@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{
    height: 100% !important
    ;
}

:root{
    height: 100% !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    overflow: -moz-scrollbars-none; /* Firefox */
    overflow: hidden; /* Hide scrollbar for older browsers */
    -ms-overflow-style: none; /* IE and Edge */
    display: none; /* Chrome, Safari, and Opera */

  }
 